.game {
  width: 800px;
  margin: 100px auto;
  position: relative;

  button {
    width: 100px;
    height: 30px;
    margin-right: 20px;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      margin-right: 20px;
    }

  }

  &-canvas {
    height: 400px;
    background: #000;
    border: 1px solid #ddd;
    position: relative;
  }

  .snack {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 100;

    &:not(.first):after {
      content: '';
      position: absolute;
      right: 1px;
      top: 1px;
      left: 1px;
      bottom: 1px;
      border: 1px solid #000;
      z-index: 100;
    }

    &.first {
      border-radius: 50%;
      background: yellow;
    }
  }

  .food {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: yellow;
    z-index: 100;
  }
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  display: block;
  overflow: hidden;
}